.encabezado {
	font-size: 25px;
}

.subEncabezado {
	font-size: 23px;
}

label {
	font-size: 15px;
}

.celdaVacia {
	height: 78px;
}

/* AJUSTES RESPONSIVOS BOOTSTRAP < SM */
@media (max-width: 575px) {
	.encabezado {
		font-size: 15px;
	}

	.subEncabezado {
		font-size: 13px;
	}

	label {
		font-size: 10px;
	}
	input {
		font-size: 0.5rem !important;
	}

	textarea {
		font-size: 0.5rem !important;
	}
}
