.login-box {
	background: #000;
	color: #fff;
	box-sizing: border-box;
	border-radius: 30px;
}

.login-box h1 {
	text-align: center;
	font-size: 30px;
}

.login-box small {
	text-align: center;
}

#usuario,
#contrasena,
#btn-formulario {
	max-width: 200px;
	background: none;
	border: 2px solid #3498db;
	border-radius: 24px;
	padding: 14px 10px;
	outline: none;
	transition: 0.25s;
}

#btn-formulario:hover {
	background: #3498db;
}

#usuario:focus,
#contrasena:focus {
	max-width: 280px;
	border-color: #2ecc71;
}

.echo {
	background-color: #d31010;
}

#manual {
	border: 0;
	background: none;

	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

#manual:hover {
	background: #3498db;
}

/* SECCION NUEVA ISI */
#particles-js {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

#formulario {
	z-index: 1;
}

#carga {
	background-color: rgba(148, 148, 148, 0.8);
	position: absolute;
	z-index: 2;
}
