/* header {
	background: #8e2de2;
	background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
	background: linear-gradient(to right, #4a00e0, #8e2de2);
} */

/*estilos para la tabla*/
table th {
	background-color: #337ab7 !important;
	color: white;
}
table > tbody > tr > td {
	vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group,
.btn-group-vertical {
	position: absolute !important;
}
