* {
	margin: 0px;
	padding: 0px;
	font-family: fantasy;
}

/* p#header {
	text-align: center;
	font-size: 2.5em;
	color: #9a9a9a;
}

header {
	margin: 100px auto;
	width: 1000px;
	height: 330px;
	background-color: #ffffff;
} */

.contenedor {
	/* width: 300px; */
	height: 335px;
	float: left;
	transition: height 0.4s;
	-webkit-transition: height 0.4s;
	border-radius: 20px 20px 20px 20px;
}

.tarjeta {
	background: linear-gradient(to right, #0e4556, #0cbebe);
	margin-right: 50px;
}

/* div#uno {
	background: linear-gradient(to right, #0e4556, #0cbebe);
	margin-right: 50px;
}

div#dos {
	background: linear-gradient(to right, #0e4556, #0cbebe);
	margin-right: 50px;
}

div#tres {
	background: linear-gradient(to right, #0e4556, #0cbebe);
} */

.icon {
	/* display: block; */
	/* margin: 40px auto; */
	background-color: rgba(255, 255, 255, 0.15);
	/* width: 120px; */
	/* padding: 20px; */
	transition: height 0.4s;
	border-radius: 30%;
	-webkit-border-radius: 30%;
	box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0);
	-webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0);
	-webkit-transition: box-shadow 0.4s;
}

.texto {
	font-size: 2em;
	/* color: white; */
	/* text-align: center; */
	padding-top: 10px;
	opacity: 0.6;
	transition: padding-top 0.4s;
	-webkit-transition: padding-top 0.4s;
}
/* p.TITULO {
	font-size: 30px;
	color: #0e0e0e;
} */
.contenedor:hover {
	height: 335px;
}

.contenedor:hover p.texto {
	padding-top: 30px;
	opacity: 1;
}

.contenedor:hover img.icon {
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
}

/* .container {
	background-color: #0a0a0a;
} */

/* NUEVA SECCION */
.encabezado {
	font-size: 24px;
	font-family: fantasy;
	color: #000000;
}

/* AJUSTES RESPONSIVOS (BOOTSTRAP <SM, SM y MD) */
@media (max-width: 991px) {
	.texto {
		font-size: 1.5em;
	}

	.contenedor {
		height: 250px;
	}
}
